.c-todo-item {
  border: 1px solid black;

}
.c-todo-item--active {
  color: #F6B26B;
}

.c-todo-item--inactive {
  color: #E06666;
}
.c-todo-item--completed {
  color: #93C47D;
}
.c-todo-item--incompleted {
  color: #FFE599;
}

.c-todo-item__controls {
}
