$unit: 8px;
$sub-unit: ($unit / 2);

/* Sizes */
$size-xxs: ($unit / 2); /* 4px */
$size-xs: ($unit * 1); /* 8px */
$size-sm: ($unit * 1.5); /* 12px */
$size-md: ($unit * 2); /* 16px */
$size-lg: ($unit * 3); /* 24px */
$size-xl: ($unit * 4); /* 32px */
$size-xxl: ($unit * 8); /* 64px */
$size-xxxl: ($unit * 10); /* 80px */
